@keyframes loading_img {
    0% {
        transform:scale(1);
    } 100% {
        transform:scale(0.9);
    }
} @keyframes scalezero {
    0% {
        transform:scale(1) rotate(0deg);
    } 100% {
        transform:scale(0) rotate(360deg);
    }
}

#loading_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(#143EA9 20%, #5773de);
    z-index: 999;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0);
} #loading_bg img {
    width: 24vh;
    animation: loading_img 0.7s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate forwards;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
} #loading_bg p {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 4px;
    margin-top: 2rem;

}

.mobile_hidden {
    display:none;
}

body, html {
    margin:0;
}

:root {
    --color-1: #405CC7;
    --color-2: #f8f8ff;
    --color-3: #6C88F3;
    --color-4: #5773DE;
    --color-5: #0f3d7a;
    --color-6: #EEF0FF;
    --color-7: #222222;
}

html {
    font-size:16px;
    font-size: clamp(0.6px, 1.8vh, 5vw);
    scroll-behavior: smooth;
}

body {
    font-family: 'Exo', sans-serif;
    color:var(--color-1);
    background-color:var(--color-2);
}

h1, h2, h3, h4, h5, h6, p {
    margin:0;
} a {
    text-decoration: none;
} a:visited {
    color:unset;
} img {
    max-width: 100%;
}

h4 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 400;
}

main > h4 {
    font-weight: 500;
}

header {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 1rem 4rem -1rem white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 9;
}

#intro {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
    height: 92vh;
    position: relative;
    background: linear-gradient(0deg, var(--color-4), transparent 38%);
    z-index: 1;
} #intro > img {
    width: 80%;
    max-width: 26rem;
    margin: 0 auto;
} h1 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 3.8rem;
    padding: 0 10vw;
} #intro h2 {
    font-size: 1.2rem;
    margin: 0 auto;
    font-weight: 500;
    letter-spacing: 1px;
    max-width: calc(14rem + 30vw);
} #intro h2 strong {
    font-weight: 600;
} #intro article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} .telegrambt {
    margin: 0 auto;
    height: 3rem;
    font-size: 1.3rem;
    background: var(--color-6);
    font-weight: 400;
} .telegrambt p {
    color: #1f95c7;
}


section h4 {
    font-size: 2.1rem;
    font-weight: 500;
    margin: 2rem;
}

.defaultBT, summary {
    display: inline-flex;
    align-items: center;
    border-radius: 100rem;
    height: 3rem;
    width: 22rem;
    margin: 0 auto;
    font-size: 1.3rem;
} .defaultBT img, summary img {
    transform: scale(1.1);
    height: 100%;
}  .arrow {
    width: 0.6rem;
    height: 0.6rem;
    border-bottom: 4px solid;
    border-right: 4px solid;
    transform: rotate(45deg) translateY(-2px) translateX(-2px);
} .defaultBT p {
    margin: 0 auto;
    font-weight: 500;
}

.divisor {
    width: 24%;
    border-top: 2px solid rgb(108 136 243 / 40%);
    margin: 0.6rem auto;
}

#know_more {
    position: absolute;
    bottom: 4rem;
    color: var(--color-2);
    left: 0;
    right: 0;
    padding: 0 1rem;
    width: 18rem;
    background: rgb(64 92 199 / 70%);
    backdrop-filter: blur(5px);
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 1px;
    animation: floating 1s ease infinite alternate;
    justify-content: space-around;
    border: 3px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 100rem;
    height: 3rem;
}

@keyframes floating {
    0% {
        transform:translateY(-0.4rem);
    } 100% {
        transform:translateY(0rem);
    }
}

#lang {
    position: fixed;
    top: 5rem;
    left: 0;
    background: var(--color-1);
    padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
    z-index: 100;
    color: var(--color-2);
    border-right: 3px solid var(--color-2);
    border-bottom: 3px solid var(--color-2);
}

.filled {
    background-color: var(--color-1);
    color: var(--color-2);
}

#proposta {
    text-align: center;
    padding-top: 9vh;
    padding-bottom: 4rem;
    margin-top: -9vh;
} .highlight_txt {
    padding: 3rem 2rem;
    font-weight: 400;
    font-size: 1.6rem;
    max-width: 27rem;
    margin: 0 auto;
} #proposta details {
    text-align: center;
    margin: 0.2rem auto 0rem auto;
    color: white;
    font-size: 1.2rem;
    box-sizing: border-box;
    box-shadow: 0rem 0.2rem 2rem rgb(0 0 0 / 20%);
} #proposta a p {
    font-size: 5vw;
}

details:focus {
    outline:none;
    background: #4D91BB;
}

#proposta summary {
    background-color: var(--color-4);
    z-index: 1;
    transition:background-color 0.3s ease, transform 0.2s ease;position: relative;
} #proposta summary::marker {
    font-size: 0;
} #proposta summary.defaultBT:focus {
    outline:none;
    background: var(--color-3);
    transform: scale(1.05);
} #proposta .description {
    text-align: left;
    background: linear-gradient(var(--color-5), var(--color-1));
    width: 100%;
    margin: -1rem 0 0 0;
    padding: 2rem;
    box-sizing: border-box;
} #proposta details a {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.5rem 0;
    border-radius: 10rem;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-4);
    color: var(--color-2);
} #proposta .last_details .description {
    padding: 2rem 2rem 0 2rem;
    border-radius: 0 0 2rem 2rem;
}

#features01 {
    margin: 0 0 7rem 0;
    padding: 3rem 2rem 0 2rem;
    display: flex;
    flex-flow: column;
    /* background: linear-gradient(90deg, var(--color-4), var(--color-1)); */
    background-color: var(--color-4);
    font-size: 1.8rem;
    text-align: center;
    color: white;
}


#graph_iframe {
    width: 90%;
    height: 62vh;
    margin: 2rem auto;
    display: block;
    border-radius: 1rem;
}


.img_break {
    transform: translateY(50%);
    width: 50%;
    max-width: 12rem;
    margin: -4rem auto 0 auto;
}


#data_section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
} #data_section article {
    display: flex;
    justify-content: space-around;
    background: var(--color-6);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.8rem 0;
    width: 100%;
    box-sizing: border-box;
} #data_section article img {
    width: 5rem;
    height: 3.5rem;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
} #data_section h5 {
    font-size: 1.6rem;
    font-weight: 500;
} #data_section h6 {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
} #data_section article span {
    font-size: 1.1rem;
    line-height: 1.3rem;
} #data_section div {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
} #data_section article img {
    margin: 0 1rem 1rem 1rem;
    height: 4rem;
}

.real_time {
    border: 3px solid var(--color-6);
    border-radius: 10rem;
    padding: 0 0 0.4rem 0;
    position: relative;
    box-sizing: border-box;
    background: white;
    margin: 0 0 2rem 0;
    text-align: center;
} .real_time span {
    margin: 0 auto -2rem auto;
    transform: translateY(-50%);
    background: var(--color-4);
    padding: 0 0.9rem;
    line-height: 1.5rem;
    border-radius: 10rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    color: var(--color-2);
} .real_time p {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1.6rem;
}

.pancakeswap {
    background: var(--color-4);
} .pancakeswap p {
    color: var(--color-2);
}

.unidex {
    background: var(--color-7);
} .unidex p {
    color: var(--color-2);
}

.instagram {
    background: linear-gradient(130deg, #406ac7, #c838a9, #ff6040 80%, #fedb58);
} .instagram p {
    color: var(--color-2);
}

.twitter {
    background: #1DA1F2;
} .twitter p {
    color: var(--color-2);
}

#social_section iframe {
    transform: scale(0.90);
    transform-origin: top;
}

.link_tree {
    margin: 2rem 0;
} .link_tree a {
    margin: 0.8rem auto;
}


#telegram_window {
    position: fixed;
    top: 50%;
    transform: translateY(-40%);
    opacity: 0;
    left: 1rem;
    right: 1rem;
    background: var( --color-2);
    padding: 2rem 0;
    box-sizing: border-box;
    border-radius: 0.8rem;
    z-index: 101;
    border: 0.3rem solid var(--color-4);
    box-shadow: 0 0 7rem var(--color-2);
    transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
    visibility: hidden;
} #telegram_window h6 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
} #telegram_window a {
    display: flex;
} #telegram_window .divisor {
    margin: 2rem auto;
    width: 100%;
    border-top: 3px solid var(--color-4);
}

#exit_bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,80,160,0.4);
    backdrop-filter: blur(0.5rem);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

footer {
    background: var(--color-4);
    color: var(--color-2);
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
}

#dogbg {
    display: block;
    width: 70%;
    margin: 4rem 0 0 auto;
}

#parceria_section {

} #parceria_section a {
    width: 40%;
    max-width: 15rem;
    height: 7rem;
    display: block;
    background: #EEF;
    margin: 0 0 2rem 0;
} #parceria_section > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


.pattern01 {
    background-image: url(assets/paw.svg);
    background-size: 3%;
    background-attachment: fixed;
}





























































@media (min-width:140vh) {
    

    .mobile_hidden {
        display:unset;
    }

    header {
        width: 24.1rem;
        height: 5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 0 0 2.5rem 2.5rem;    
        background: none;
        box-shadow: none;
        align-items: flex-end;
        background: var(--color-3);
        padding-bottom: 0.6rem;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    } header::after, header::before {
        content: url(assets/border-radius-inverted.svg);
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 0;
    } header::before {
        left: 0;
        transform: translateX(-98%);
    } header::after {
        right: 0;
        transform: translateX(97%) scaleX(-1);
    }

    #intro {
        height: 86vh;
        background: linear-gradient( 15deg, var(--color-4), transparent 50%);
        background-image: url(assets/bg02.jpg);
        background-position: left;
        background-size: 50% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    } #intro > img {
        width: 40vw;
        min-width: 43rem;
        max-width: 40rem;
        position: absolute;
        bottom: 0;
        left: calc(30vw - 26rem);
    } #intro article {
        position: absolute;
        right: calc(25vw - 20rem);
        top: 7rem;
        height: 33rem;
    }

    h1 {
        font-size: 4rem;
    } #intro h2 {
        font-size: 1.4rem;
        width: 75%;
    }

    #know_more {
        display:none;
    }

    #proposta {
        padding: 5rem 0;
        margin: 0;
    } .highlight_txt {
        font-size: 2.5rem;
        max-width: 62vw;
        margin: 0 auto 2rem auto;
        font-weight: 300;
        padding: 0;
    }

    .divisor {
        max-width: 4rem;
    }

    #lang {
        top: 0;
    }

    .defaultBT, summary {
        cursor: pointer;
        transition:filter 0.3s ease;
    } .defaultBT:hover, summary:hover {
        filter:brightness(1.1);
    } header .telegrambt {
        box-shadow: 0 0.4rem 2rem -0.6rem var(--color-5);
        border: 0.5rem solid white;
        margin: 0;
    } .defaultBT img, summary img {
        transform: scale(1);
    }


    #telegram_window {
        padding: 2rem 0 3rem 0;
        margin: 0 auto;
        width: 30rem;
    }

    .flex_row_desktop {
        margin: 0 auto;
        width: 90%;
        align-items: center;
        position: relative;
        z-index: 1;
    } .flex_row_desktop .defaultBT {
        
    } .flex_row_desktop .divisor {
        width: 0.6rem;
        height: 0.6rem;
        background: white;
        border: none;
        border-radius: 1rem;
        display: none;
    } #proposta .description {
        background: var(--color-5);
        padding: 2rem 2rem 0rem 2rem;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 1rem 2rem -1.3rem var(--color-5);
    }

    #proposta details {
        margin: 2rem 1rem;
    } #proposta details a {
        transition:background-color 0.2s ease;
    } #proposta details a:hover {
        background-color: var(--color-3);
    } #proposta .last_details .description {
        border-radius: 0 0 1rem 1rem;
    }


    #features01 {
        font-size: 2.4rem;
    }


    #data_section {
        width: 80%;
        min-width: 70rem;
    } #data_section .real_time {
        width: 60%;
        margin: 0 auto 2rem auto;
    } #data_section article {
        margin: 1rem;
        width: 30%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 1.5rem 3rem;
    } #data_section .grid_2_column {
        display: flex;
        flex-flow: row wrap;
        margin: 3rem 0;
    } #data_section article span {
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-top: 0.2rem;
        font-weight: 500;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 0.6rem 0;
    }

    .columns {
        display: flex;
        flex-flow: column;
        gap: 1rem;
    } .rows {
        display: flex;
        flex-flow: row;
        gap: 1rem;
    }


    #dogbg {
        width:30%;
    }

    #parceria_section a {
        height: 10rem;
        width: 16rem;
        margin: 2rem;
    } #parceria_section > div {
        margin: 0 auto;
        justify-content: center;
    }
}