@keyframes loading_img {
    0% {
        transform:scale(1);
    } 100% {
        transform:scale(0.9);
    }
} @keyframes scalezero {
    0% {
        transform:scale(1) rotate(0deg);
    } 100% {
        transform:scale(0) rotate(180deg);
    }
}

#loading_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(15deg, #E7BC50, #f8de8b);
    z-index: 999;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0);
} #loading_bg img {
    width: 24vh;
    animation: loading_img 0.7s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate forwards;
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
} #loading_bg p {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 4px;
    margin-top: 2rem;

}

body .mobile_hidden {
    display:none;
}

body, html {
    margin:0;
}

:root {
    --color-0:  #ffffff;
    --color-0-1:#eef0ff;
    
    --color-1:  #f8f8ff;

    --color-2: #3beaff;
    --color-2-1:#2bc2e0;
    --color-2-2: #0079AD;
    --color-2-3: #004958;
    --color-2-4: #9df5ff;

    --color-3:#f8de8b;
    
    --telegram:#DBECFF;
    --telegram-2: #1f95c7;

    --pancakeswap: #00b8cb;

    --old-color:#5773de;
}

html {
    font-size:16px;
    font-size: clamp(0.6px, calc(1vh + 6px), 5vw);
    scroll-behavior: smooth;
}

body {
    font-family: 'Exo', sans-serif;
    color: var(--color-2-2);
    background-color:var(--color-1);
}

h1, h2, h3, h4, h5, h6, p {
    margin:0;
} a {
    text-decoration: none;
} a:visited {
    color:unset;
} img {
    max-width: 100%;
}

h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
} h4 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

main > h4 {
    font-weight: 500;
}

header {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-150%);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 9;
} header .telegrambt {
    background-color:var(--telegram);
}

#intro {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
    height: 92vh;
    position: relative;
    background: linear-gradient(0deg, var(--color-1), transparent 38%);
    z-index: 1;
    overflow: hidden;
    background-image: url(assets/bg.jpg);
    background-size: 177%;
    background-position: center;
    color: white;
    box-shadow: inset 0 31rem 16rem -22rem var(--telegram-2);
} #businessdoggo {
    width: 80%;
    max-width: 26rem;
    margin: 0 auto;
} h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.2rem;
    padding: 0 10vw;
} #intro h2 {
    font-size: 1.2rem;
    margin: 0 auto;
    font-weight: 500;
    letter-spacing: 1px;
    max-width: calc(14rem + 30vw);
} #intro h2 strong {
    font-weight: 500;
} #intro article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} .telegrambt {
    margin: 0 auto;
    height: 3rem;
    font-size: 1.3rem;
    background: var(--color-0);
    font-weight: 400;
} .telegrambt p {
    color: var(--telegram-2);
} #intro .divisor {
    border-color:var(--telegram);
} 

@keyframes rotating_circle {
    0% {
        transform:rotate(0deg);
    } 100% {
        transform:rotate(360deg);
    }
}

#rotating_circle {
    position: absolute;
    left: -10rem;
    right: -10rem;
    width: 130%;
    z-index: -1;
    bottom: -20rem;
    margin: 0 auto;
    max-width: 40rem;
    animation:rotating_circle 60s linear infinite;
}

summary::-webkit-details-marker {
    vertical-align: middle;
 }

.defaultBT, summary {
    display: inline-flex;
    align-items: center;
    border-radius: 100rem;
    height: 3rem;
    width: 22rem;
    margin: 0 auto;
    font-size: 1.3rem;
} .defaultBT img, summary img {
    height: 100%;
}  .arrow {
    width: 0.6rem;
    height: 0.6rem;
    border-bottom: 4px solid;
    border-right: 4px solid;
    transform: rotate(45deg) translateY(-2px) translateX(-2px);
} .defaultBT p {
    margin: 0 auto;
    font-weight: 500;
} .filled .defaultBT p {
    font-weight: 600;
}

.divisor {
    width: 24%;
    border-top: 0.2rem solid var(--color-1);
    margin: 0.6rem auto;
}

#know_more {
    position: absolute;
    bottom: 4rem;
    color: var(--color-2-3);
    left: 0;
    right: 0;
    padding: 0 1rem;
    width: 18rem;
    background: rgb(248 222 139 / 80%);
    backdrop-filter: blur(5px);
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1px;
    animation: floating 1s ease infinite alternate;
    justify-content: space-around;
    border: 3px solid var(--color-3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 100rem;
    height: 3rem;
}

@keyframes floating {
    0% {
        transform:translateY(-0.4rem);
    } 100% {
        transform:translateY(0rem);
    }
}

#lang {
    position: fixed;
    top: 5rem;
    left: 0;
    background: var(--color-1);
    padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
    z-index: 100;
    color: var(--color-2-1);
}

.filled {
    background-color: var(--color-1);
    color: var(--color-2-2);
}

#proposta {
    text-align: center;
    padding-top: 9vh;
    padding-bottom: 4rem;
    margin-top: -9vh;
    background-image: url(assets/arrow_up.svg);
    background-size: calc(100%/9);
    background-position: center;
} .highlight_txt {
    padding: 3rem 9vw;
    font-weight: 500;
    font-size: 1.6rem;
    max-width: 27rem;
    margin: 0 auto;
}.highlight_txt b {
    font-weight: 600;
} #proposta details {
    text-align: center;
    margin: 0.2rem auto 0rem auto;
    color: var(--color-2-2);
    font-size: 1.2rem;
    box-sizing: border-box;
    box-shadow: 0rem 0.2rem 2rem rgb(0 0 0 / 20%);
} #proposta a p {
    font-size: 5vw;
} .highlight_txt2 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0;
} .highlight_txt2 strong {
    display: block;
    margin-bottom: 0.5rem;
}

#proposta summary {
    background-color: var(--color-2);
    z-index: 1;
    transition:background-color 0.3s ease, transform 0.2s ease;position: relative;
} #proposta summary::marker {
    font-size: 0;
} #proposta summary.defaultBT:focus {
    outline:none;
    background: var(--color-2-4);
    transform: scale(1.05);
} #proposta .description {
    text-align: left;
    background: linear-gradient(0deg, var(--color-0), #CEE);
    width: 100%;
    margin: -1rem 0 0 0;
    padding: 2rem;
    box-sizing: border-box;
} #proposta details a {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.5rem 0;
    border-radius: 10rem;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-2-1);
    color: var(--color-1);
    position: relative;
} #proposta details a:after {
    content: url(assets/blank_target.svg);
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    right: 1.1rem;
    top: 0;
    transform: translateY(60%);
}

#features01 {
    margin: 0 0 7rem 0;
    padding: 3rem 2rem 0 2rem;
    display: flex;
    flex-flow: column;
    /* background: linear-gradient(90deg, var(--color-4), var(--color-1)); */
    background-color: var(--color-3);
    font-size: 2rem;
    text-align: center;
    color: orangered;
    font-weight: 600;
} #features01 .divisor {
    border-width: 0.3rem;
} .dog01 {
    display: none;
}


.img_break {
    transform: translateY(50%);
    width: 50%;
    max-width: 12rem;
    margin: -4rem auto 0 auto;
}


#data_section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
} #data_section article {
    display: flex;
    justify-content: space-around;
    background: var(--color-0-1);
    color: var(--color-2-2);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.8rem 0;
    width: 100%;
    box-sizing: border-box;
} #data_section article img {
    width: 5rem;
    height: 3.5rem;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
} #data_section h5 {
    font-size: 1.6rem;
    font-weight: 500;
} #data_section h6 {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
} #data_section article span {
    font-size: 1.1rem;
    line-height: 1.3rem;
} #data_section div {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}#data_section > div:last-child {
    margin: 0rem 0 3rem 0;
} #data_section > div {
    margin-bottom: 2rem;
} #data_section iframe {
    width: 90%;
    height: 40rem;
    margin: 2rem 0 4rem 0;
}

#real_time {
    margin-top: 2rem;
} .real_time {
    border: 3px solid var(--color-2-1);
    border-radius: 10rem;
    padding: 0 0 0.4rem 0;
    position: relative;
    box-sizing: border-box;
    background: white;
    margin: 0 0 2rem 0;
    text-align: center;
} .real_time span {
    margin: 0 auto -2rem auto;
    transform: translateY(-50%);
    background: var(--color-2-1);
    padding: 0 0.9rem;
    line-height: 1.5rem;
    border-radius: 10rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    color: var(--color-0);
} .real_time p {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1.6rem;
    color: var(--color-2-2);
}

.pancakeswap {
    background: var(--pancakeswap);
    color:var(--color-1);
} .unidex {
    background: #222;
    color:var(--color-1);
} .instagram {
    background: linear-gradient(130deg, #406ac7, #c838a9, #ff6040 80%, #fedb58);
    color:var(--color-1);
} .twitter {
    background: #1DA1F2;
    color:var(--color-1);
}

.link_tree {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    flex-flow: column;
} .link_tree a {
    margin: 0.8rem auto;
    color:var(--color-1);
}


#telegram_window {
    position: fixed;
    top: 50%;
    transform: translateY(-40%);
    opacity: 0;
    left: 1rem;
    right: 1rem;
    background: var(--color-1);
    padding: 2rem 0;
    box-sizing: border-box;
    border-radius: 0.8rem;
    z-index: 101;
    border: 0.4rem solid var(--telegram);
    box-shadow: 0 0 7rem var(--color-2);
    transition: transform 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
    visibility: hidden;
} #telegram_window h6 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
} #telegram_window a {
    display: flex;
    background: var(--telegram);
} #telegram_window .divisor {
    margin: 2rem auto;
    width: 100%;
    border-top: 3px solid var(--color-4);
}

#exit_bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgb(59 234 255 / 60%);
    backdrop-filter: blur(0.5rem);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    cursor: alias;
}

footer {
    background: var(--color-0-1);
    color: var(--color-2-2);
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
}

#parceria_section {

} #parceria_section a {
    width: 40%;
    max-width: 15rem;
    height: 7rem;
    display: block;
    background: #EEF;
    margin: 0 0 2rem 0;
} #parceria_section > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


.pattern01 {
    background-image: url(assets/paw.svg);
    background-size: 3.8rem;
    background-position: center;

}

.hidden {
    display:none;
}

#email_window {
    padding: 2rem 0 0 0;
} form {
    margin: 1rem auto 3rem auto;
    width: 80%;
    display: flex;
    flex-flow: column;
    position: relative;
} label {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
} input {
} #my-form-button {
    background: var(--color-2-1);
    border: none;
    padding: 0.4rem 0;
    font-size: 1.8rem;
    color: var(--color-0);
    border-radius: 0.4rem;
    cursor: pointer;
} #my-form-button:hover {
    filter:brightness(1.05);
} textarea {
    min-height: 15rem;
    min-width: 100%;
} input, textarea {
    margin: 0 0 1rem 0;
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    color: var(--color-2-2);
    border: none;
    background-color: var(--color-0-1);
    border-radius: 1rem;
    box-sizing: border-box;
} input:focus, textarea:focus, #my-form-button:focus {
    outline:none;
} #my-form-status {
    text-align: center;
    color: var(--color-2-2);
    background: var(--color-3);
    border: 5px solid var(--color-0);
    margin: 2rem auto 0 auto;
    font-size: 1.4rem;
    border-radius: 1.2rem;
    font-weight: 500;
    display: block;
    line-height: 3rem;
    padding: 0 2rem;
}

section h5 {

}


#roadmad_section {
    background: var(--color-3);
    padding: 3rem 0;
    background-image: url(assets/arrow_up.svg);
    background-attachment: fixed;
} #roadmad_section img {
    margin: 2rem 0 4rem 0;
}


#link_tree_02 {
    padding: 5rem 0 0 0;
    background: var(--color-1);
} #link_tree_02 a {
    display: block;
    text-align: center;
    background: var(--color-0-1);
    margin: 1rem auto;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    font-size: 1.1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    width: 70%;
} #link_tree_02 a:hover {
    background: var(--telegram);

}

#dog01 {
    display: none;
}


.bigger_title {
    font-size: 2rem;
}


















































@media (min-width:140vh) {
    

    body .mobile_hidden {
        display: flex;
    }

    header {
        height: unset;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: none;
        box-shadow: none;
        align-items: flex-end;
        background: rgb(157 245 255 / 60%);
        backdrop-filter: blur(8px);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    } header::after, header::before {
        content: url(assets/border-radius-inverted.svg);
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 0;
    } header::before {
        left: 0;
        transform: translateX(-98%);
    } header::after {
        right: 0;
        transform: translateX(97%) scaleX(-1);
    }

    #intro {
        height: 91vh;
        background-size: 74rem;
        box-shadow: none;
    } #businessdoggo {
        width: 40vw;
        min-width: 43rem;
        max-width: 40rem;
        position: absolute;
        bottom: 0;
        left: calc(30vw - 26rem);
    } #intro article {
        position: absolute;
        right: calc(18vw - 18rem);
        top: 9rem;
        height: 32rem;
    } #rotating_circle {
        left: -80rem;
        bottom: -40rem;
        width: 75rem;
        max-width: 88vw;
    }

    h1 {
        font-size: 4.5rem;
        text-shadow: none;
        letter-spacing: 2px;
    } #intro h2 {
        font-size: 1.4rem;
        width: 55%;
        text-shadow: none;
    }

    #know_more {
        display:none;
    }

    #proposta {
        padding: 6rem 0;
        margin: 0;
        background-size: calc(100%/29);
    } .highlight_txt {
        font-size: 2.5rem;
        font-weight: 400;
        max-width: 62vw;
        margin: 0 auto 2rem auto;
        font-weight: 300;
        padding: 0;
    }

    .divisor {
        max-width: 4rem;
    }

    #lang {
        top: 0;
    }

    #intro .pancakeswap {

    } #intro .pancakeswap {
        
    } #intro .columns {

    }

    .defaultBT, summary {
        cursor: pointer;
        transition:filter 0.3s ease;
    } .defaultBT:hover {
        filter:brightness(1.1);
    } header .telegrambt {
        box-shadow: 0 0.4rem 2rem -0.6rem var(--color-5);
        border: 0.4rem solid white;
        margin: 0;
        transform: translateY(50%);
    } .defaultBT img, summary img {
        transform: scale(1);
    }


    #telegram_window {
        padding: 2rem 0 3rem 0;
        margin: 0 auto;
        width: 30rem;
    }

    .flex_row_desktop {
        margin: 0 auto;
        width: 90%;
        align-items: center;
        position: relative;
        z-index: 1;
    } .flex_row_desktop .defaultBT {
        
    } .flex_row_desktop .divisor {
        width: 0.6rem;
        height: 0.6rem;
        background: white;
        border: none;
        border-radius: 1rem;
        display: none;
    } #proposta .description {
        background: var(--color-2-1);
        font-weight: 500;
        padding: 2rem 2rem 0rem 2rem;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 1rem 2rem -1.3rem var(--color-5);
        color: white;
    }

    #proposta details {
        margin: 2rem 1rem;
    } #proposta details a {
        transition:transform 0.2s ease;
        background-color: rgba(255,255,255,0.2);
    } #proposta details a:hover {
        transform:scale(1.05);
    } #proposta .last_details .description {
        border-radius: 0 0 1rem 1rem;
    }


    #features01 {
        font-size: 2.2rem;
        position: relative;
        padding: 4rem 2rem 0 2rem;
    } .dog01 {
        display: unset;
        position: absolute;
        bottom: 0;
        right: 2vw;
        height: 31vw;
    }


    #data_section {
        width: 80%;
        min-width: 70rem;
    } #data_section .real_time {
        width: 28rem;
        margin: 0 auto 2rem auto;
    } #data_section article {
        margin: 1rem;
        width: 33%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0 3rem 2.5rem 3rem;
        background: rgba(225,235,255,0.9);
    } #data_section .grid_2_column {
        display: flex;
        flex-flow: row wrap;
        gap: 2rem 1rem;
    } #data_section article span {
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-top: 0.2rem;
        font-weight: 500;
    }

    .highlight_txt b {
        font-weight: 500;
    }

    footer {
        width:100%;
        padding: 0.6rem 0;
    }

    .columns {
        display: flex;
        flex-flow: column;
        gap: 1rem;
    } .rows {
        display: flex;
        flex-flow: row;
        gap: 1rem;
    }


    #parceria_section a {
        height: 10rem;
        width: 16rem;
        margin: 2rem;
    } #parceria_section > div {
        margin: 0 auto;
        justify-content: center;
    }

    #data_section article img {
        margin: -2rem 1rem 2rem 1rem;
        height: 4rem;
    }

    #data_section .rows {

    }

    #data_section #real_time {

    }

    form {
        width: 38%;
        margin: 1rem auto 6rem auto;
    }
    .link_tree {
        flex-flow: row wrap;
        margin: 0 7rem 5rem 7rem;
    }

    #roadmad_section img {
        margin: 2rem auto 4rem auto;
        display: block;
        width: 50rem;
        min-width: 60vw;
    }

    #email_window {
        padding: 5rem 0 0 0;
        background: var(--color-1);
    }

    #data_section iframe {
        width: 28rem;
        height: 44rem;
    }

    #link_tree_02 a {
        width: 30%;
        margin: 0;
        font-size: 1.2rem;
    } #link_tree_02 div {
        display: flex;
        flex-flow: row wrap;
        grid-gap: 1.2rem;
        margin: 2rem auto 0 auto;
        justify-content: center;
        align-items: center;
    }


    #dog01 {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 24%;
    }


    .bigger_title {
        font-size: 2.4rem;
    }
    

}